:root {
  --branding-color: #f4f4f4;
  --heading-font: "Qwitcher Grypen", cursive;
  --default-font: "Playfair Display", serif;
  --font-color: #272142;
  --paragragh-color: rgba(39, 33, 66, 0.7);
  --shadow: 7px 5px 15px rgb(175, 175, 175);
}

body {
  font-family: var(--default-font);
  color: #272142;
}

.hero {
  background: var(--branding-color);
  padding: 90px;
}

.main-page {
  margin-top: 150px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 128px;
  text-align: center;
}

h2,
h3 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  margin-bottom: 45px;
  margin-left: 10px;
}

h3 {
  text-align: end;
  margin-top: 45px;
}

.hero img {
  display: block;
  margin: 0 auto;
  box-shadow: var(--shadow);
  border-radius: 12px;
}

.text-below {
  text-align: center;
  margin: 100px;
  font-size: 18px;
  font-weight: 600;
}

.card {
  border: none;
  padding-top: 60px;
}

.card-title {
  font-family: var(--heading-font);
  color: var(--font-color);
  font-size: 96px;
  margin-bottom: 50px;
}

.card-text {
  font-weight: 16px;
  color: var(--paragragh-color);
  line-height: 30px;
}

.btn-white {
  color: var(--font-color);
  border: 1px solid var(--paragragh-color);
  padding: 18px 24.5px;
  margin-top: 50px;
  transition: all 200ms ease-in-out;
}

.btn-white:hover {
  color: var(--branding-color);
  background-color: var(--paragragh-color);
}

@media (max-width: 1000px) {
  .hero img {
    display: none;
  }

  .main-page {
    margin-top: 0;
    text-align: center;
  }
  h1 {
    font-size: 82px;
  }

  h2 {
    margin-bottom: 0;
    font-size: 24px;
  }

  h3 {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
  }

  .text-below {
    margin: 30px;
  }

  .card {
    display: none;
  }
}
